# requirements.txt

fastapi
uvicorn[standard]
python-multipart
pymongo
motor
chromadb
langchain
langchain-community
langchain-core
openai
python-dotenv
pydantic
bcrypt
python-jose[cryptography]
passlib[bcrypt]
tiktoken
pypdf
sentence-transformers==2.6.1
httpx
certifi